@font-face { font-family: Gargling-fried; src: url("../images/fonts/Gargling-fried.ttf"); } 
@font-face { font-family: Gargling-symbols; src: url("../images/fonts/Gargling-symbols.ttf"); } 
@font-face { font-family: Gargling-nr1; src: url("../images/fonts/Gargling-nr1.ttf"); }