@font-face { font-family: Gargling-fried; src: url("../images/fonts/Gargling-fried.ttf"); } 

* { image-rendering: -moz-crisp-edges;
image-rendering: -o-crisp-edges;
image-rendering: -webkit-optimize-contrast;
image-rendering: pixelated;
-ms-interpolation-mode: nearest-neighbor; }

body {
font-family: "Gargling-fried";
background-color: black;
color: white;
font-size: 24px;

height: 100vh;
overflow: hidden;
margin: 0;
cursor: url('../images/cursors/default.ico') 0 0, default;
}
body.dragging {
  cursor: url('../images/cursors/grabber.ico') 13 4, grabbing;
}
a, button {
    cursor: url('../images/cursors/pointer.ico') 13 4, pointer;
}
input, textarea {
    cursor: url('../images/cursors/text.ico') 0 13, text;
}
.wait-area {
    cursor: url('cursors/wait-cursor.png'), wait;
}

#dialogue-box {
  user-select: none;
  padding: 5px;
  padding-top: 0;
  align-content: center;
  text-align: center;
  line-height: 1;
  width: 75%;
  height: 50%;
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.effect-red { color: red; }
.effect-shake {
  display: inline-block;
  transform: translate(0, 0); /* default starting position */
  will-change: transform;     /* helps browser optimize */
}

.char {
  display: inline-block;
  will-change: transform;
  margin-bottom: 10px;
}
.char:not(.effect-loud):not(.THE-ORACLE) {
  animation: fadeInUp 0.5s ease forwards;
}
.effect-loud {
  animation: fadeInLoud 0.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
    font-size: 4px;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInLoud {
  0% {
    opacity: 0;
    transform: translate(20px, 10px);
    font-size: 60px;
    letter-spacing: 0px;
    line-height: 0px;
  }
  70% {
    font-size: 22px;
    transform: translate(-2px, -1px);
    letter-spacing: 1px;
  }
  100% {
    opacity: 1;
  }
}

.THE-ORACLE {
animation: ORACLETEXT 0.5s steps(4) forwards;
}
@keyframes ORACLETEXT {
  0% {
    transform: translateY(10px);
    opacity: 0;
    scale: 5;
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(2.5px);
  }
  100% {
  }
}

.letter-display {
  opacity: 1;
  display: inline-block;
  position: absolute;
  will-change: transform;
  animation: letterDisplay 2s ease-in-out forwards;
}
@keyframes letterDisplay {
  0% {
    opacity: 1;
    /* Keep translateX intact by starting with current value if possible */
    transform: translateX(var(--x)) translateY(100vh) scale(0.5, 2);
    font-size: 50px;
  }
  100% {
    opacity: 0;
    transform: translateX(var(--x)) translateY(50vh) scale(1);
    font-size: 40px;
  }
}