* { 
image-rendering: -moz-crisp-edges;
image-rendering: -o-crisp-edges;
image-rendering: -webkit-optimize-contrast;
image-rendering: pixelated;
-ms-interpolation-mode: nearest-neighbor;
font-family: "Gargling-fried"; 
}

html {
background-image: url('../../images/background.png');
background-repeat: repeat;
background-attachment: fixed;

animation: scrollBackground 70s linear infinite;
}
.disabled {
  display: none;
  pointer-events: none;
}

/* -------- TEXT -------- */
i {
    color:gray;

}
a {
  text-decoration: none;
  color: rgb(97, 143, 69);
  line-height: 100%;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-repeat: no-repeat;
  background: none;
}
a:hover {
  text-decoration: solid;
  color: rgb(226, 255, 183);
  font-size: 110%;
  line-height: 90%;
  padding: 5px;
  background-color: black;
  background-size: 100%, 50%;
}
.obfuscated {
background-color: black;
position: relative;
user-select: none;
font-weight: 100;
}
.symbols {
  font-family: "Gargling-symbols";
}
ul {
  list-style: square;
}

/* -------- GENERAL LAYOUT -------- */
#technical {
  width: calc(100vw - 15px);
  height: calc(100vh - 15px);
  position: fixed;
  pointer-events: none;
  z-index: 99999999999999;
}

#edit-menu {
position: fixed;
display: flex;
flex-direction: row;
background-image: linear-gradient(rgb(121, 121, 121), rgb(61, 61, 61));
width: fit-content;

padding-block: 10px;
margin-bottom: 10px;

pointer-events: all;

top: calc(100% - 100px - 10px);
right: calc(100% - 765px - 10px);
}
#load-btns {
position: fixed;
background-image: linear-gradient(rgb(121, 121, 121), rgb(61, 61, 61));

pointer-events: all;

top: calc(100% - 40px - 10px);
left: calc(100% - 315px - 5px);
}

.field {
  background-color: #888888;

  padding: 5px;
  margin-inline: 10px;
  display: flex;
  flex-direction: column;
}

#body-text-field {
width: 100%;
height: 100%;
background: none;
}
#body-text-field:hover {
background-color:rgb(109, 109, 109);
}

input, textarea {
all: unset;
background-color:rgb(109, 109, 109);
padding: 5px;
word-wrap: break-word;
}

button, input::file-selector-button {
  all: unset;

  height: fit-content;
  width: fit-content;
  flex: 1;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(163, 163, 163));
  border: none;
  text-align: center;
  white-space: nowrap;
  padding: 5px;
  margin: 5px;

  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
button:hover, input::file-selector-button:hover {
  background-image: linear-gradient(rgb(206, 206, 206), rgb(109, 109, 109));
  scale: 105%;
}

label {
all: unset;
width: fit-content;
}

.list-item {
width: fit-content;
align-items: center;
margin-bottom: 15px;
background-image: linear-gradient(rgb(74, 74, 74), rgb(32, 32, 32));
padding: 10px;
}
.list-item button {
background-image: linear-gradient(red, darkred);
width: 25px;
height: 25px;
padding-top: 10px;
}


#indexbody,
#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: stretch;
}
section {
  background-image: linear-gradient(rgb(255, 255, 255), rgb(163, 163, 163));
  flex: 3;
  padding: 20px;
  padding-right: 30px;
  padding-bottom: 30px;
}
aside {
  background-image: linear-gradient(rgb(206, 206, 206), rgb(109, 109, 109));
  padding: 20px;
  text-align: center;
  flex: 1;
}
footer {
  float: center;
  background-color:rgb(163, 163, 163);
  padding: 20px;
  flex: 100%;
}

/* -------- ENTRY -------- */
#entry-content {
  flex: 3;
}
#entry-content h1 {
  font-size: 25px;
  font-weight: lighter;
}
#entry-sidebar {
  background-image: linear-gradient(rgb(255, 255, 255), rgb(163, 163, 163));
  color: rgb(0, 0, 0);
  font-size: larger;
  font-weight: 500;
  padding: 20px;
  flex: 1;
}
#entry-attributes {
  list-style: none;
  margin: 0;
  padding: 0;
}
#entry-attributes li {
  text-align: left;
  margin: 4px 0;
  font-size: 20px;
  padding: 10px;
  outline-style: solid;
  outline-width: 3px;
  outline-color: #595959;
  background-color: #888888;
}



#entry-date {
color: rgb(75, 75, 75);
}
.similar-warn {
  background-color: black;
  padding: 5px;
  max-width: fit-content;
}


.remove {
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  margin-left: 15px;
}

input::placeholder {
  color: rgb(41, 41, 41);
}

.input-image {
  overflow: hidden;
  width: 290px;
  flex: 9;
  margin-bottom: 10px;
}
.input-image::file-selector-button {
  margin-right: 10px;
}

.attribute {
display: flex;
flex-direction: row;
width: calc(100% - 20px);
}
.attr-input {
width: 50px;
height: 50px;
flex: 4;
}
.attr-mid {
width: 20px;
color: white;
font-size: 36;
}

.gallery {
display: flex;
flex-direction: row;
}
.gallery-inputs {
display: flex;
flex-direction: column;
}