#settings-header {
  width: fit-content;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(163, 163, 163));
  padding: 20px;
}

#settings-menu-box {
display: flex;
}

#settings-nav {
margin-right: 10px;
}

#setting-list {
display: flex;
flex-direction: column;
flex: 3;
height: 590px;
overflow-y: scroll;
}

.setting {
  background-image: linear-gradient(rgb(255, 255, 255), rgb(163, 163, 163));
  padding: 20px;
  margin-bottom: 10px;
}

input {
all: unset;
background-color:rgb(109, 109, 109);
padding: 5px;
word-wrap: break-word;
}
input::file-selector-button {
  all: unset;

  height: fit-content;
  width: fit-content;
  flex: 1;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(163, 163, 163));
  border: none;
  text-align: center;
  white-space: nowrap;
  padding: 5px;
  margin: 5px;

  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
input::file-selector-button:hover {
  background-color:#444444;
  background-image: none;
  color: white;
  scale: 105%;
}
.preview {
  width: 200px;
  height: 150px;
  overflow: hidden;
  margin-bottom: 5px;
}
/* Force preview image size */
[data-preview] {
  width: 150px !important;
  height: 150px !important;
  object-fit: cover;
  display: block;
}
.state-option {
  width: 75px;
  height: 50px;
  font-size: 18px;
  margin: 5px;
}
.state-option.selected {
  background-color: #111;
  background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  color:#fff;
  scale: 0.8;
}
.setting-label {
  font-size: 22px;
  font-weight:bold;
}