#game {
  position: relative;
  width: 600px;
  height: 200px;
  border: 2px solid black;
  overflow: hidden;
  background: white;
  transform-origin: top left;
  z-index: 10000000;
}
#oBox {
width: 100%;
height: 100%;
}

#chargebg {
position: absolute;
transform: translate(5px, -195px);
width: 50px;
height: 190px;
background-image: url('../../images/dino/bar_bg.png');
background-size: 100%;
}
#charge {
position: absolute;
transform: translate(5px, -195px);
width: 50px;
height: 190px;
clip-path: inset(190px 0 0 0);
background-image: url('../../images/dino/bar_fill.png');
background-size: 100%;
}
#pause {
position: absolute;
width: 100%;
height: 100%;
transform: translateY(-200px);
background-image: url('../../images/pause.png');
background-size: 50px;
background-repeat: no-repeat;
background-position: center;
background-color: rgba(0, 0, 0, 0.5);
}


#dino {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 50px;
  height: 50px;
}
#player {
  transform: scale(2, 2) translateY(-15px) translateX(10px);
  filter: none;
  transition: cubic-bezier(1, 0, 0, 1) 500ms;
  z-index: 10000000;
}
.charging {
  animation: boing 500ms forwards infinite;
}
@keyframes boing {
  0% {
    transform: scale(2, 2) translateY(-15px) translateX(10px);
    filter: brightness(1);
  }
  25% {
    filter: brightness(1.5);
  }
  50% {
    transform: scale(2.1, 1.9) translateY(-14px) translateX(10px);
    filter: brightness(1);
  }
  75% {
    filter: brightness(1.5);
  }
  100% {
    transform: scale(2, 2) translateY(-15px) translateX(10px);
    filter: brightness(1);
  }
}

.obstacle {
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 50px;
  background: red;
}


.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: auto 100%;
  pointer-events: none;
}
.layer1 { background-image: url('../../images/dino/bg/m2.png'); }
.layer2 { background-image: url('../../images/dino/bg/m1.png'); }
.layer3 { background-image: url('../../images/dino/bg/gg.png'); }
.layer4 { background-image: url('../../images/dino/bg/gfg.png'); }


.corrupt-clip {
  overflow: hidden !important;
}
.corrupt-offset {
  position: relative !important;
}

#corruptionLayer {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0; /* stay under everything */
}

.corrupt-block {
  position: absolute;
  background: black;
  pointer-events: none;
  z-index: 0;
}