@font-face { font-family: Gargling-fried; src: url("../images/fonts/Gargling-fried.ttf"); } 

body {
/*anti-aliasing disabling*/
image-rendering: -moz-crisp-edges;
image-rendering: -o-crisp-edges;
image-rendering: -webkit-optimize-contrast;
-ms-interpolation-mode: nearest-neighbor;
font-smooth: never;

background-image: url('../images/background.png');
background-repeat: repeat;
background-attachment:local;
animation: scrollBackground 70s linear infinite;

/*text (font and other properties)*/
font-family: "Gargling-fried";
}

/*IMAGELINK*/
img {
transition: 0.3s ease-in-out;
}

img:hover {
filter:opacity(0.5);
}

/*TEXT*/
i {
    color:gray;

}
p {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(0, 0, 0), rgb(0, 0, 0));
}

/*SECTIONS*/
section {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(163, 163, 163));
    float: left;
    padding: 20px;
    margin-top: 10px;
    width: 70%;
}
nav {
  width: 24%;
  float: right;
  background-image: linear-gradient(rgb(206, 206, 206), rgb(109, 109, 109));
  padding: 20px;
  margin-top: 10px;
  text-align: center;
}
footer {
  height: 300px;
  width: 100%;
  float: left;
}

/*SEARCH*/
input[type="text"] {
    border: 0px solid #ffffff;
    padding: 10px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(163, 163, 163));
    font-family: "Gargling-fried";
}
input:focus {
  border: 0px solid #ffffff;
  outline: none;
  background-image: linear-gradient(rgb(55, 55, 55), rgb(0, 0, 0));

  color: white;
}
button {
    padding: 10px;
    background-color: #888888;
    color: white;
    border: none;
    cursor: pointer;
    font-family: "Gargling-fried";
}
button:hover {
    background-color: #595959;
}
#results {
color:white;
background-color:black;
}

/*LISTS*/
ul {
list-style:square;
}


/*misc stuff like animations or scripts*/

@keyframes scrollBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px 1000px; /* adjust based on image width */
  }
}