@font-face { font-family: Gargling-fried; src: url("../images/fonts/Gargling-fried.ttf"); } 
@font-face { font-family: Gargling-symbols; src: url("../images/fonts/Gargling-symbols.ttf"); } 
@font-face { font-family: Gargling-nr1; src: url("../images/fonts/Gargling-nr1.ttf"); } 

* { 
image-rendering: -moz-crisp-edges;
image-rendering: -o-crisp-edges;
image-rendering: -webkit-optimize-contrast;
image-rendering: pixelated;
-ms-interpolation-mode: nearest-neighbor;
font-family: "Gargling-fried"; 
}

html {
background-image: url('../images/background.png');
background-repeat: repeat;
background-attachment:fixed;

animation: scrollBackground 70s linear infinite;
}
body {
cursor: url('../images/cursors/default.ico') 0 0, default;
}
.disabled {
  display: none;
  pointer-events: none;
}

/* -------- CURSOR -------- */
body.dragging {
  cursor: url('../images/cursors/grabber.ico') 13 4, grabbing;
}
a, button {
    cursor: url('../images/cursors/pointer.ico') 13 4, pointer;
}
input, textarea {
    cursor: url('../images/cursors/text.ico') 0 13, text;
}
.wait-area {
    cursor: url('cursors/wait-cursor.png'), wait;
}

/* -------- POPUPS -------- */
.popup-fade {
  animation: popup-fade 2s ease-in forwards
}
@keyframes popup-fade {
  0% {
    width: fit-content;
    height: fit-content;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: fit-content;
    height: fit-content;
  }
}

#immersion-query {
  height: 400px;
  width: 550px;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(19, 19, 19));

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000000;

  padding: 10px;
  text-align: center;
  align-content: center;
  color: white;
}
#immersion-query ul {
  color: white;
  list-style-position: inside;
  align-content: center;
  padding: 0;
}
#immersion-bg {
background-color: black;
position: fixed;
width: 110vw;
height: 110vh;
z-index: 99999;
transform: translate(-10px,-10px);
opacity: 0.5;
}

#yesBtn, #noBtn {
  border-radius: 0;
  border-style: none;
  width: 30%;
  height: 50px;
  font-size: 32px;
  padding: 7px;
}

/* -------- IMAGES -------- */
#imglink {
transition: 0.5s cubic-bezier(0.05, 0.1, 0.3, 1);
}
#imglink:hover {
filter:opacity(0.6);
}

/* -------- TEXT -------- */
i {
    color:gray;

}
a {
  text-decoration: none;
  color: rgb(97, 143, 69);
  line-height: 100%;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-repeat: no-repeat;
  background: none;
}
a:hover:not(.nogrowlink, .catEntBox, .navBtn, .pop-link) {
  text-decoration: solid;
  color: rgb(226, 255, 183);
  font-size: 110%;
  line-height: 90%;
  padding: 5px;
  background-color: black;
  background-size: 100%, 50%;
}
.obfuscated {
background-color: black;
position: relative;
user-select: none;
font-weight: 100;
}
.symbols {
  font-family: "Gargling-symbols";
}
ul {
  list-style: square;
}

/* -------- SEARCH -------- */
#search-container {
  position: relative;
  width: fit-content;
}
/* input */
input[type="text"] {
    padding: 10px;
    border: none;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(163, 163, 163));
    font-family: "Gargling-fried";
    vertical-align: middle;
}
input:focus {
  outline: none;
  background-image: linear-gradient(rgb(55, 55, 55), rgb(0, 0, 0));
  border: none;
  color: white;
}
/* button */
#searchBtn,
#gallery-prev,
#gallery-next {
    padding: 5px;
    background-color: #888888;
    color: white;
    border: none;
    vertical-align: middle;
}
#searchBtn:hover,
#gallery-prev:hover,
#gallery-next:hover {
    background-color: #595959;
}

/* results */
#results-wrapper {
  position: absolute;
  max-width: 300px;
  min-width: 227px;
  max-height: 360px;

  width: 227px;
  height: 360px;

  align-content: center;
  overflow: hidden;
  padding-bottom: 40px;
  padding-top: 10px;

  background-color: black;
  color: white;

  z-index: 1000;
  outline-style: solid;
  outline-width: 2px;
  outline-color: #888;

  resize: both;
}
#results-wrapper::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 1;
  pointer-events: none; /* ensures it's not interactive */
  box-shadow: inset 0 0 0 20px black; /* creates a 10px “cutoff edge” */
}
#results-wrapper:empty {
resize: none;
padding-block: 0px;
height: 0;
}

#results {
  max-width: 90%;
  height: inherit;

  font-size: 16px;
  list-style: square;
  overflow-y: scroll;

  /* Hide native scrollbars */
  scrollbar-width: none;      /* Firefox */
}

#results li {
  list-style-position: inside; /* ensures bullets are inside the box */
  text-overflow: ellipsis;    /* add "..." at cutoff */
  white-space: nowrap;        /* keep the text on one line */
  overflow: hidden;           /* hide overflow beyond width */
  color: rgb(97, 143, 69);
  transform: translateX(-20px);
}
#results li:first-child {
font-weight: bolder;
font-size: larger;
}

#results p {
  color: rgb(65, 99, 44);
  text-decoration: underline 2px;
}

/* scrollbar */
#custom-scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background-color: #111;
}
#thumb {
  transition: scale 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 50%;
  left: 25%;
  background-color: #888;
  border-radius: 0;   /* blocky rectangle */
  position: absolute;
  top: 0;
}
#thumb:hover {
  cursor: url('../images/cursors/mover.ico') 13 4, grab;
}
#thumb.dragging {
  scale: 110%;
  background-color: #ffffff;
  cursor: url('../images/cursors/grabber.ico') 13 4, grabbing;
}

/* -------- GENERAL LAYOUT -------- */
header {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(0, 0, 0), rgb(0, 0, 0));
}
#nav {
  display: flex;
  width: 100%;
  gap: 10px;
  flex-direction: row;
  white-space: nowrap;
}
.navBtn button {
  height: 37.5px;
  width: 248.5px;
  flex: 1;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(163, 163, 163));
  border: none;

  font-family: Gargling-fried;
  line-height: 0;
  text-align: center;
  white-space: nowrap;
  padding-inline: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.navBtn button:hover {
  background-image: linear-gradient(rgb(206, 206, 206), rgb(109, 109, 109));
}
#indexbody,
#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: stretch;
}
section {
  background-image: linear-gradient(rgb(255, 255, 255), rgb(163, 163, 163));
  padding: 20px;
  flex: 3;
}
#subheader {
  flex: 100%;
}
aside {
  background-image: linear-gradient(rgb(206, 206, 206), rgb(109, 109, 109));
  padding: 20px;
  text-align: center;
  flex: 1;
}
footer {
  float: center;
  background-color:rgb(163, 163, 163);
  padding: 20px;
  flex: 100%;
}

button {
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
button:hover:not(#gallery-prev-disabled, #gallery-next-disabled) {
  scale: 105%;
}

/* -------- home page stuff -------- */
#popular-pages {
display: flex;
list-style: none;
padding: 0;
flex-direction: column;
align-items: center;
}
.popular-item {
margin-top: 20px;
margin-bottom: 20px;
}
.pop-link {
background-image: linear-gradient(rgb(255, 255, 255), rgb(163, 163, 163));
padding: 10px;
height: 250px;
width: 250px;

white-space: nowrap;
display: flex;
flex-direction: column;
align-items: center;

transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
outline-style: solid;
outline-width: 3px;
outline-color:#6f6f6f;
z-index: 2;
}
.pop-link:hover {
scale: 1.1;
outline-color:#3b3b3b;
z-index: 4;
}
.pop-wrapper {
line-height: 200%;
}
.pop-wrapper img {
width: 80%;
height: auto;
}

.pop-rank {
margin: 0;
z-index: 2;

outline-style: solid;
outline-width: 2px;
outline-color: #595959;
outline-offset: -1px;

padding: 2px;
background-size: contain;
}
#pop-rank-1 { 
color: gold;
font-family: "Gargling-nr1";

position: absolute;
transform: translate(-65px, -10px);

background-image: linear-gradient(rgb(168, 161, 105), rgb(134, 134, 134));

scale: 200%;

animation: goldshine 2s ease-in-out infinite;
}
@keyframes goldshine {
  0% {
    scale: 200%;
    color: rgb(255, 244, 184);
  }
  50% {
    scale: 205%;
    color: gold;
  }
  100% {
    scale: 200%;
    color: rgb(255, 244, 184);
  }
}
#pop-rank-2 { 
color: silver;

position: absolute;
transform: translate(-90px, -10px);

background-image: linear-gradient(rgb(130, 130, 130), rgb(86, 86, 86));

scale: 150%;
}
#pop-rank-3 { 
color: rgb(221, 120, 42);

position: absolute;
transform: translate(-95px, -10px);

background-image: linear-gradient(rgb(130, 130, 130), rgb(86, 86, 86));

scale: 140%;
}

/* -------- ENTRIES -------- */
#entry-content {
  flex: 3;
}
#entry-content h1 {
  font-size: 25px;
  font-weight: lighter;
}
#entry-sidebar {
  background-image: linear-gradient(rgb(255, 255, 255), rgb(163, 163, 163));
  color: rgb(0, 0, 0);
  font-size: larger;
  font-weight: 500;
  padding: 20px;
  flex: 1;
}
#gallery-prev,
#gallery-title,
#gallery-next {
    display: inline-block; /* allows them to sit side by side */
    vertical-align: middle; /* optional, aligns them nicely */
}
#gallery-prev,
#gallery-next {
  font-family: "Gargling-symbols";
  font-size: 25px;
  scale: 1.2;
}
#gallery-prev-disabled,
#gallery-next-disabled {
  background-color: #cecece;
  color: gray;
  font-family: "Gargling-symbols";
  border: none;
}
#gallery-prev-disabled:hover,
#gallery-next-disabled:hover {
  background-color: #cecece;
  color: gray;
  cursor: url('../images/cursors/default.ico') 0 0, default;
}
.gallery-viewer img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}
#entry-attributes {
  list-style: none;
  margin: 0;
  padding: 0;
}
#entry-attributes li {
  text-align: left;
  margin: 4px 0;
  font-size: 20px;
  padding: 10px;
  outline-style: solid;
  outline-width: 3px;
  outline-color: #595959;
  background-color: #888888;
}
#entry-date {
color: rgb(75, 75, 75);
}
.similar-warn {
  background-color: black;
  padding: 5px;
  max-width: fit-content;
}

/* -------- CATEGORIES -------- */
#category-entries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
}
#category-entries a section {
  background-image: linear-gradient(rgb(206, 206, 206), rgb(109, 109, 109)); 
  padding: 20px;
  flex: none;
  height: 200px;
  width: 200px;
}
.catEntBox {
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  outline-style: solid;
  outline-width: 0px;
  outline-color: #000000;
  z-index: 1;
}
.catEntBox:hover {
  scale: 1.1;
  outline-width: 3px;
  z-index: 10;
}
.catEntElements {
  background-image: radial-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  height: 100%;
  padding: 5px;

  display: flex;
  flex-direction: column;
}
.catEntElements img {
  height: 90%;
  width: auto;
}
.catEntElements span {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 120%;
}

/* misc */
@keyframes scrollBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px 1000px; /* adjust based on image width */
  }
}